@page "/callback"

<h1>Callback Page</h1>
<br />
<p>@_message</p>

<hr />

<CallbackComponent @ref="_callbackComponent" SayHello="SayHelloToAlice" Name="Alice" />

@code
{
	string _message = "Message: ";
	int _messageCount = 0;
	CallbackComponent? _callbackComponent;

	public void SayHelloToAlice (string message)
		=> _message = $"Message {++_messageCount}: '{message}' from component named '{_callbackComponent?.Name}'";
}
